/* --- ГЛОБАЛЬНІ НАЛАШТУВАННЯ --- */
:root {
    --main-green: #70b34d;
    --dark-teal: #263e43;
    --accent-red: #EB5757;
    --bg-cream: #FCF0F0;
    --text-dark: #3b5358;
}

body { 
    font-family: 'Roboto Slab', serif; 
    color: #333; 
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1; 
}

/* --- ГОЛОВНА СТОРІНКА (Банер) --- */
.hero-wrapper { 
    position: relative; 
    background-size: cover; 
    background-position: center; 
    min-height: 550px; 
    color: var(--text-dark);
}

.hero-content { 
    padding-top: 150px;
}

.hero-content h1 { 
    font-size: 44px; 
    font-weight: 700; 
}

.btn-main { 
    background: var(--main-green); 
    color: white; 
    padding: 12px 30px; 
    font-weight: 700; 
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
}

.btn-main:hover {
    background: #5f9f52;
    color: white;
    text-decoration: none;
}