.hero-wrapper { 
    background-size: cover; 
    background-position: center; 
    min-height: 550px; 
    color: var(--text-brown);
}

.hero-content { padding-top: 120px; }
.hero-content h1 { font-size: 44px; font-weight: 700; }

.btn-main { 
    background: var(--main-green); 
    color: white; 
    padding: 12px 30px; 
    font-weight: 700; 
    display: inline-block;
    margin-top: 20px;
}

.vision-mission-sec { 
    background: var(--bg-grey) url('../images/Union.svg') no-repeat center;
    background-size: cover;
}

.video-box { position: relative; cursor: pointer; display: inline-block; }
.play-btn { 
    position: absolute; 
    top: 50%; left: 50%; 
    transform: translate(-50%, -50%); 
    width: 65px; 
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
}
.video-box:hover .play-btn { transform: translate(-50%, -50%) scale(1.15); }

.act-img { height: 75px; object-fit: contain; }